@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-1 {
  background-color: #020202;
  background-image: linear-gradient(43deg, #121c40 0%, #C850C0 46%, #444444 100%);

}

@font-face {
  font-family: Cyberway;
  src: url(../assets/font/Cyberway.ttf);
  font-weight: 400;
  font-style: normal;

}

.cyberway {
  font-family: Cyberway;
}

@font-face {
  font-family: Revamp;
  src: url(../assets/font/Revamped.ttf);
  font-weight: 400;
  font-style: normal;

}

.revamp{
  font-family: Revamp;
}
